# -----------------------
# MYSQL prontoweb
# -----------------------
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=your_user
MYSQL_PASSWORD=your_password
MYSQL_DATABASE=prontoweb

# -----------------------
# FIREBIRD IDEAL
# -----------------------
FB_HOST=10.1.10.216
FB_PORT=3050
FB_DATABASE=/Ideal Share/Ideal for Windows/IdealData/ics100c1.gdb
FB_USER=ENDUSER
FB_PASSWORD=password

# MongoDB
MONGO_URI=mongodb://localhost:27017
MONGO_DB=Prontoweb
MONGO_PRODUCTS_COLLECTION=Products

# -----------------------
# SQL SERVER Shipworks
# -----------------------
MSSQL_HOST=192.168.1.10\\SHIPWORKS1
MSSQL_PORT=1433
MSSQL_USER=sa
MSSQL_PASSWORD=your_password
MSSQL_DATABASE=ShipWorks1

# -----------------------
# ZOho Desk
# -----------------------
ZOHO_CLIENT_ID=your_client_id
ZOHO_CLIENT_SECRET=your_client_secret
ZOHO_REFRESH_TOKEN=your_refresh_token
ZOHO_ORG_ID=your_org_id
ZOHO_DEPARTMENT_ID=your_department_id

# Tamaño de lote al leer de Firebird (cuántas filas por pasada)
FB_BATCH_SIZE=20000

# Tamaño de lote al insertar en MySQL (cuántas filas por INSERT)
MYSQL_BATCH_SIZE=5000

FULL_REFRESH_PRODUCTLOCATION=true
FULL_REFRESH_SALESINVOICE=true
FULL_REFRESH_PORECEIPT=true
FULL_REFRESH_ICTRANS=true
FULL_REFRESH_SALESORDER=true
FULL_REFRESH_CUSTOMER=true
FULL_REFRESH_WORKORDERS=true
FULL_REFRESH_PRODUCTSTOCK=true
FULL_REFRESH_GLTRANS=true
FULL_REFRESH_APTRANS=true
FULL_REFRESH_ARTRANS=true
FULL_REFRESH_SALESORDERCANCEL=true

PORT=3001

# -----------------------
# RESPOND.IO API
# -----------------------
RESPONDIO_ACCESS_TOKEN=your_access_token_here
RESPONDIO_API_URL=https://api.respond.io/v2

# Configuración de Clientes VIP
VIP_MAX_CUSTOMERS=100
VIP_MIN_SALES_COUNT=2
VIP_MIN_SALES_AMOUNT=1000
VIP_TAG=VIP
VIP_LOOKBACK_DAYS=365
